{% extends 'base.html' %}
{% block title %}
    修改密码
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/css/base.css">
    <body background="http://tu.etang.info/uploads/2016/03/page5.jpg"></body>
{% endblock %}
{% block content %}
<div class="panel panel-primary modifypwd_box">
    <div class="panel-heading">
        <h1 class="panel-title text-center">修改密码</h1>
    </div>
    <br><br><br><br>
    <form class="form-horizontal" role="form" method="post" onsubmit="return checkinfo()" enctype="multipart/form-data" action="/fl/modifypwd/">
      <div class="form-group" style="margin-top: 20px">
      <label class="col-sm-4 control-label">原密码</label>
      <div class="col-sm-5">
         <input type="password" name="oldpwd" class="form-control" id="oldpwd"
            placeholder="请输入原密码" required="required">
      </div>
      <span id="oldpwdInfo"></span>
   </div>
      <div class="form-group">
      <label class="col-sm-4 control-label">新密码</label>
      <div class="col-sm-5">
         <input type="password" name="newpwd" class="form-control" id="newpwd"
            placeholder="请输入新密码" required="required">
      </div>
      <span id="newpwdInfo"></span>
   </div>
      <div class="form-group">
      <label class="col-sm-4 control-label">确认密码</label>
      <div class="col-sm-5">
         <input type="password" name="newpwd1" class="form-control" id="newpwd1"
            placeholder="请再次输入新密码" required="required">
      </div>
      <span id="newpwd1Info"></span>
   </div>
        <div class="form-group">
      <label class="col-sm-4 control-label">&nbsp;</label>
      <div class="col-sm-5" style="text-align: center">
         {{ errors }}
      </div>
   </div>
     <button class="btn btn-success" style="width: 250px;margin-left: 310px" >确认修改</button>
    </form>
    </div>
    <script type="text/javascript">
    function checkinfo(){
        var oldpwd = document.getElementById("oldpwd").value;
        var newpwd = document.getElementById("newpwd").value;
        var newpwd1 = document.getElementById("newpwd1").value;
        if(oldpwd == ""){
            $("#oldpwdInfo").html("请输入原密码");
            return false;
        }
        if(newpwd == ""){
            $("#newpwdInfo").html("请输入新密码");
            return false;
        }
        if(newpwd1 == ""){
            $("#newpwd1Info").html("请重复新密码");
            return false;
        }
        if(newpwd != newpwd1){
            $("#newpwd1Info").html("两次密码不一致");
            return false;
        }
    }
    </script>
{% endblock %}