<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
        .button{
            background:rgb(32,173,229);
            color:#FFFFFF;width:200px;
            height:30px;
            border-radius:10px;
            font-size:15px;
        }
    </style>
</head>
<body>
flavor-order&nbsp;账户<br/><br/>
<font color="rgb(32,173,229)" size="5px"><b>点击下方链接修改您的登录密码</b></font><br/>
您收到这份邮件的原因可能：<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
您点击了忘记密码，并填写了相关信息<br/><br/>
<a href="http://127.0.0.1:8000/fl/fgpwdreset/?md={{ md }}&home={{ home }}&body={{ body }}"><button class="button"><b>修改登录密码</b></button></a><br/><br/>
如果非您本人所为，请及时联系客服咨询相关情况<br/>
感谢您的使用&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;flavor-order
</body>
</html>