.adddish_box{
    width: 800px;
    height: 470px;
    border: 1px solid #ADADAD;
    margin: 50px auto;

}
.modifydish_box{
    width: 800px;
    height: 498px;
    border: 1px solid #ADADAD;
    margin: 30px auto;

}

